#m-mistake, #m-thanks {
  display: none;
  z-index: 101;
  position: fixed;
  margin-top: -230px;
  margin-left: -200px;
  background: #F5F5F5;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  text-align: left;
  padding: 30px;
}
#m-thanks p {
  text-align: center;
  margin: 40px;
}
#m-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
  z-index: 100;
  display: none;
}
.m {
  width: 100%;
  resize: none;
}
